[submodule "Ilab1/Stack_cpp"]
	path = Ilab1/Stack_cpp
	url = https://github.com/inedostoev/Stack_cpp.git
[submodule "Ilab/Stack_cpp"]
	path = Ilab/Stack_cpp
	url = https://github.com/inedostoev/Stack_cpp
[submodule "Ilab/MIPTakinator"]
	path = Ilab/MIPTakinator
	url = https://github.com/inedostoev/MIPTakinator
[submodule "Ilab/diff"]
	path = Ilab/diff
	url = https://github.com/inedostoev/diff.git
[submodule "Ilab/Compilator"]
	path = Ilab/Compilator
	url = https://github.com/inedostoev/Compilator.git
[submodule "Ilab/CPU_cpp"]
	path = Ilab/CPU_cpp
	url = https://github.com/inedostoev/CPU_cpp
[submodule "Stack_cpp"]
	path = Stack_cpp
	url = https://github.com/inedostoev/Stack_cpp
