[submodule "Ilab/MIPTakinator"]
	path = Ilab/MIPTakinator
	url = https://github.com/inedostoev/MIPTakinator
[submodule "Ilab/diff"]
	path = Ilab/diff
	url = https://github.com/inedostoev/diff
[submodule "Ilab/Compilator"]
	path = Ilab/Compilator
	url = https://github.com/inedostoev/Compilator
[submodule "Ilab/CPU_cpp"]
	path = Ilab/CPU_cpp
	url = https://github.com/inedostoev/CPU_cpp
